<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Delivery</title>
</head>
<body>
    <header>
        <img src="../imagenes/Header.png" class="Fondo-Header">
        <nav>
            <ul class="navFlex">
              <li><a href="../index.html"> Inicio</a>
              <li><a href="cosmetica.html">Cosmetica</a> </li>                     
              <li><a href="cuidadocorporal.html">Personal</a></li>
              <li><a href="articulosdelimpieza.html">Articulos de limpieza</a></li>
              <li><a href="promociondelasemana.html">Promociones de la semana</a></li>
            </ul>            
          </nav>
</header>
    <h1 class="Titulo">Caluladora del precio de la compra</h1>
    <script src="../scriptVenta.js"></script>
</body>
</html>